
.popup {
    position:fixed;
    top:87%;
    left:80%; 
    bottom:20%;
    right:10%;	
    margin:auto;
    width:250px;
    height:150px;
    font-family:verdana;
    font-size:13px;
    padding:10px;
    background-color:#C8E3D0;
    border-radius: 5px;
    border:2px solid #009999;
    z-index:1;
    
}

.popup1 {
    position:fixed;
    top:20%;
    left:75%; 
    bottom:40%;
    right:5%;	
    margin:auto;
    width:300px;
    height:350px;
    padding:10px;
    background-color:#fff;
    border-radius: 3px;
    border:1px solid #009999;
    z-index:5;
}

.legends {
    position:fixed;
    bottom:30px;
    right:10px;	
    margin:auto;
    width:180px;
    height:250px;
    padding:10px;
    background-color:#fff;
    border-radius: 3px;
    border:1px solid #009999;
    z-index:5;
}

.dateslider {
    position:fixed;
    top: 120px;
    right:10px;	
    margin:auto;
    width:250px;
    height:250px;
    padding:10px;
    background-color:#fff;
    border-radius: 3px;
    border:1px solid #009999;
    z-index:5;
}

.graphwidget {
   position:fixed;
    top:80%;
    left:10%; 
    bottom:40%;
    right:90%;	
    margin:auto;
    width:600px;
    height:300px;
    font-family:verdana;
    font-size:13px;
    padding:10px;
    background-color:#eee;
    border-radius: 3px;
    overflow: auto;
    border:2px solid #009999;
    z-index:0;
    overflow: scroll;
    resize: both;
}
.graphwidget:hover {
	cursor: move;
}
.graphwidget1 {
   position:fixed;
    top:80%;
    left:10%; 
    bottom:40%;
    right:90%;	
    margin:auto;
    width:600px;
    height:300px;
    font-family:verdana;
    font-size:13px;
    padding:10px;
    background-color:#eee;
    border-radius: 3px;
    overflow: auto;
    border:2px solid #009999;
    z-index:0;
    overflow: scroll;
    resize: both;
}
.graphwidget1:hover {
	cursor: move;
}

.ribbon {
    position:absolute;
    top:0;
    left:0;
}
.cancel {
    display:relative;
    cursor:pointer;
    margin:0;
    float:right;
    height:15px;
    width:14px;
    padding:1px 1px 10px 2px;
    background-image:url(images/cancle.png);
    text-align:center;
    font-weight:bold;
    font-size:11px;
    color:white;
    content: "X";
    border-radius:3px;
    z-index:1;
}

/*//measurement
.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
}
.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}
.tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}
.tooltip-static:before {
    border-top-color: #ffcc33;
}   
.cancel:hover {
    background:rgb(255,50,50);
}*/


.menu,
.menu ul,
.menu li,
.menu a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.menu {
    height: 30px;;
    width: 100%;

    background: #0182C4;
/*    //background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    //background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    //background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    // background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    // background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);*/

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 40px;
}

.menu ul {
    position: absolute;
    top: 30px;
    left: 0;

    opacity: 0;
    background: #1b6d85;

    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;

    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}

.menu li:hover > ul { opacity: 1; }

.menu ul li {
    height: 0;
    overflow: visible;
    padding: 0;

    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}

.menu li:hover > ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
}


.menu ul li a {
    width: 100px;
    padding: 4px 0 4px 40px;
    margin: 0;

    border: none;
    border-bottom: 1px solid #353539;
}

.menu ul li:last-child a { border: none; }

.menu a.documents { background: url(../img/docs.png) no-repeat 6px center; }
.menu a.messages { background: url(../img/bubble.png) no-repeat 6px center; }
.menu a.signout { background: url(../img/arrow.png) no-repeat 6px center; }



/*//------------------------------------popup------------------------------------------//*/


.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}

/*//geoserver infowindow*/
iframe {
    width: 100%;
    height: 250px;
    border: #009999;
    /*//background-color: #009999;*/
}
table.featureInfo, table.featureInfo td, table.featureInfo th {
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    font-size: 90%;
    padding: .2em .1em;
}
table.featureInfo th {
    padding: .2em .2em;
    font-weight: bold;
    background: #eee;
}
table.featureInfo td {
    background: #fff;
}
table.featureInfo tr.odd td {
    background: #eee;
}
table.featureInfo caption {
    text-align: left;
    font-size: 100%;
    font-weight: bold;
    padding: .2em .2em;
}


/*//----------------------------measurement----------------------------//*/


.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
}
.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}
.tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}
.tooltip-static:before {
    border-top-color: #ffcc33;
}

/*//--------------------------------------------------search tool-----------------------------------------------//*/
.ol-control button{ 
    background-color: rgba(40, 40, 40, 0.8) !important;
}
.ol-control button:hover{ 
    background-color: rgba(40, 40, 40, 1) !important;
}

.ol-popup {
    position: absolute;
    min-width: 180px;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    bottom: 12px;
    left: -50px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}

/*//-----------------------------------------------end css-----------------------------------------------------//*/

#fadeandscale {
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}
.popup_visible #fadeandscale {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}


/*//------------------------------------------popupminmax-------------------------------------------------------//*/

    .modal-header .btnGrp{
      position: absolute;
      top: 8px;
      right: 10px;
    } 
 

    .min{
        width: 250px; 
        height: 35px;
        overflow: hidden !important;
        padding: 0px !important;
        margin: 0px;    

        float: left;  
        position: static !important; 
      }

    .min .modal-dialog, .min .modal-content{
        height: 100%;
        width: 100%;
        margin: 0px !important;
        padding: 0px !important; 
      }

    .min .modal-header{
        height: 100%;
        width: 100%;
        margin: 0px !important;
        padding: 3px 5px !important; 
      }

    .display-none{display: none;}

    button .fa{
        font-size: 16px;
        margin-left: 10px;
      }

    .min .fa{
        font-size: 14px; 
      }

    .min .menuTab{display: none;}

    button:focus { outline: none; }

    .minmaxCon{
      height: 35px;
      bottom: 1px;
      left: 1px;
      position: fixed;
      right: 1px;
      z-index: 9999;
    }

    
    
/*    //dropdowm list
.accordion_container {
 	width: 500px;
}
.accordion_head {
	//background: url(images/red.png) brown;
    background-color: #369;    
    color: white;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
	margin: 0 0 1px 0;
    padding: 7px 11px;
	font-weight: bold;
}
.accordion_body {
	background: lightgray;
}
.accordion_body p{
	padding: 5px;
	margin: 0px;
}
.plusminus{
	float:right;
}*/

/*//dropdown*/
 /* CSS Document */
            .accordion_container {
                /*//width: 500px;*/
            }
            .accordion_head {
               /*// background-color:skyblue;*/
                
                cursor: pointer;
/*               // font-family: arial;
                //font-size: 14px;
                //margin: 0 0 1px 0;
                //padding: 7px 11px;
                //font-weight: bold;*/
            }
            .accordion_body {
                /*//background:#c1d1f8;*/
            }
            .accordion_body p {
                padding: 18px 5px;
                margin: 0px;
            }
            .plusminus {
               /*// float:left;*/
               color: black;
               width: 5px;
               height: 2px;
               /*//border: 1px solid #5a7fc9;*/
               font-size: 12px;
               font-weight: bold
/*               //background-color: #fff;
               //border-radius: 2px;*/
               
                
            }